# Big Data Mining, 1st Assignment solution
## Vangelis Christou, p2821805

### Import libraries

In [226]:
#read
import pandas as pd 
df = pd.read_csv("groceries.csv",sep=";") 

#preview data
df.head(20)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"whole milk,butter,yogurt,rice,abrasive cleaner"
6,7,23,female,married,tertiary,21000,good,3,housemaid,rolls/buns
7,8,26,female,single,secondary,30000,good,2,blue-collar,"other vegetables,UHT-milk,rolls/buns,bottled b..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,potted plants
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"whole milk,cereals"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"tropical fruit,other vegetables,white bread,bo..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"citrus fruit,tropical fruit,whole milk,butter,..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,beef
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"frankfurter,rolls/buns,soda"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"chicken,tropical fruit"
15,16,,female,married,tertiary,25000,excellent,4,entrepreneur,"butter,sugar,fruit/vegetable juice,newspapers"
16,17,68,female,married,secondary,,excellent,3,retired,fruit/vegetable juice
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,packaged fruit/vegetables
18,19,33,male,single,primary,18000,very_good,1,blue-collar,chocolate
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,specialty bar

In [227]:
#view default  data types
df.dtypes

Customer_ID              int64
Age                     object
Sex                     object
Marital_Status          object
Education               object
Income                  object
Customer_Rating         object
Persons_in_Household     int64
Occupation              object
Groceries               object
dtype: object

In [228]:
#replace ' ' values with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

#set proper data types
#numeric
df["Age"] = pd.to_numeric(df["Age"],downcast='integer')
df["Income"] = pd.to_numeric(df["Income"],downcast='integer')
df["Persons_in_Household"] = pd.to_numeric(df["Persons_in_Household"])

#nominal
df["Sex"] = df["Sex"].astype('category')
df["Marital_Status"] = df["Marital_Status"].astype('category')
df["Occupation"] = df["Occupation"].astype('category')

#ordinal
cRatings = pd.Categorical(df["Customer_Rating"], categories=["poor", "fair", "good", "very_good", "excellent"], ordered=True)
df.Customer_Rating = cRatings
cEducation = pd.Categorical(df["Education"], categories=["primary", "secondary", "tertiary"], ordered=True)
df.Education = cEducation



#fill Nan values with mean
df.fillna(df.mean().astype(int), inplace=True)
df["Age"] = df["Age"].astype(np.int64) 
df["Income"] = df["Income"].astype(np.int64) 

# convert Groceries to set of values
df.Groceries= df.Groceries.str.split(",") 

df.dtypes

Customer_ID                int64
Age                        int64
Sex                     category
Marital_Status          category
Education               category
Income                     int64
Customer_Rating         category
Persons_in_Household       int64
Occupation              category
Groceries                 object
dtype: object

In [229]:

df.head(20)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"[citrus fruit, semi-finished bread, margarine,..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"[tropical fruit, yogurt, coffee]"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,[whole milk]
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"[pip fruit, yogurt, cream cheese, meat spreads]"
4,5,66,female,married,secondary,19000,good,3,retired,"[other vegetables, whole milk, condensed milk,..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"[whole milk, butter, yogurt, rice, abrasive cl..."
6,7,23,female,married,tertiary,21000,good,3,housemaid,[rolls/buns]
7,8,26,female,single,secondary,30000,good,2,blue-collar,"[other vegetables, UHT-milk, rolls/buns, bottl..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,[potted plants]
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"[whole milk, cereals]"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"[tropical fruit, other vegetables, white bread..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"[citrus fruit, tropical fruit, whole milk, but..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,[beef]
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"[frankfurter, rolls/buns, soda]"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"[chicken, tropical fruit]"
15,16,53,female,married,tertiary,25000,excellent,4,entrepreneur,"[butter, sugar, fruit/vegetable juice, newspap..."
16,17,68,female,married,secondary,30036,excellent,3,retired,[fruit/vegetable juice]
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,[packaged fruit/vegetables]
18,19,33,male,single,primary,18000,very_good,1,blue-collar,[chocolate]
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,[specialty bar]

In [230]:
import itertools
import time
def jaccard_sim(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return round(float(intersection) / union, 2)

def pairwiseJaccard(cust):
    sim={}
    print("Computing pair wise similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Success after: " ,end_time-start_time)
    return sim

In [231]:
cust_dict = dict(zip(df.Customer_ID, df.Groceries))

short_c = dict(list(cust_dict.items())[0:1000])

In [232]:
sim = pairwiseJaccard(cust_dict)

Computing pair wise similarities
Success after:  77.34021639823914

In [235]:
import operator

def GetSimilarCustomers(customerID,head, sim):
    filtered_dict = {k:v for (k,v) in sim.items() if k[0] == customerID}
    sorted_d = dict(sorted(filtered_dict.items(), key=operator.itemgetter(1),reverse=True))
    return dict(list(sorted_d.items())[0:head])

In [242]:
customerids = [73, 563, 1603, 2200, 3703, 4263, 5300, 6129, 7800, 8555]
for i in customerids: 
    print(GetSimilarCustomers(i,10,sim))
    print("----\n")

{(73, 7393): 0.4444444444444444, (73, 8719): 0.4, (73, 3888): 0.375, (73, 4468): 0.375, (73, 7827): 0.375, (73, 9328): 0.375, (73, 8704): 0.35714285714285715, (73, 2300): 0.3333333333333333, (73, 3282): 0.3333333333333333, (73, 4494): 0.3333333333333333}
----

{(563, 652): 1.0, (563, 768): 1.0, (563, 1010): 1.0, (563, 1236): 1.0, (563, 1562): 1.0, (563, 1629): 1.0, (563, 1652): 1.0, (563, 1787): 1.0, (563, 1819): 1.0, (563, 1830): 1.0}
----

{(1603, 8345): 1.0, (1603, 1767): 0.6666666666666666, (1603, 2337): 0.6666666666666666, (1603, 5119): 0.6666666666666666, (1603, 6328): 0.6666666666666666, (1603, 6379): 0.6666666666666666, (1603, 7559): 0.6666666666666666, (1603, 9705): 0.6666666666666666, (1603, 3154): 0.6, (1603, 1803): 0.5}
----

{(2200, 2414): 0.5, (2200, 2421): 0.5, (2200, 2626): 0.5, (2200, 2650): 0.5, (2200, 2694): 0.5, (2200, 2806): 0.5, (2200, 2874): 0.5, (2200, 3194): 0.5, (2200, 3434): 0.5, (2200, 3570): 0.5}
----

{(3703, 8871): 0.375, (3703, 6311): 0.3333333333333333, (3703, 8214): 0.3333333333333333, (3703, 5501): 0.3, (3703, 7290): 0.3, (3703, 7292): 0.3, (3703, 9663): 0.3, (3703, 4085): 0.2857142857142857, (3703, 4471): 0.2857142857142857, (3703, 5813): 0.2857142857142857}
----

{(4263, 4304): 0.5714285714285714, (4263, 6968): 0.5714285714285714, (4263, 5108): 0.5, (4263, 8499): 0.5, (4263, 8503): 0.5, (4263, 9434): 0.5, (4263, 9477): 0.4444444444444444, (4263, 9813): 0.4444444444444444, (4263, 4409): 0.42857142857142855, (4263, 6270): 0.42857142857142855}
----

{(5300, 7944): 0.5, (5300, 7364): 0.4444444444444444, (5300, 8995): 0.4444444444444444, (5300, 5340): 0.4, (5300, 7797): 0.4, (5300, 9911): 0.4, (5300, 7596): 0.375, (5300, 8036): 0.375, (5300, 9328): 0.375, (5300, 9766): 0.375}
----

{(6129, 6847): 0.4, (6129, 6214): 0.3333333333333333, (6129, 6243): 0.3333333333333333, (6129, 6294): 0.3333333333333333, (6129, 6338): 0.3333333333333333, (6129, 6402): 0.3333333333333333, (6129, 6462): 0.3333333333333333, (6129, 6476): 0.3333333333333333, (6129, 6702): 0.3333333333333333, (6129, 6727): 0.3333333333333333}
----

{(7800, 7802): 1.0, (7800, 7831): 1.0, (7800, 7917): 1.0, (7800, 7969): 1.0, (7800, 8113): 1.0, (7800, 8172): 1.0, (7800, 8218): 1.0, (7800, 8269): 1.0, (7800, 8363): 1.0, (7800, 8393): 1.0}
----

{(8555, 9467): 0.5, (8555, 9673): 0.5, (8555, 9775): 0.5, (8555, 8615): 0.3333333333333333, (8555, 8810): 0.3333333333333333, (8555, 8885): 0.3333333333333333, (8555, 9122): 0.3333333333333333, (8555, 9547): 0.3333333333333333, (8555, 9647): 0.3333333333333333, (8555, 9894): 0.3333333333333333}
----