In [19]:
# importing pandas package 
import pandas as pd 
	
# making data frame from csv file 
data = pd.read_csv("groceries.csv",sep=";") 
data.mean()
data.fillna(data.mean())

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
...,...,...,...,...,...,...,...,...,...,...
9995,9996,54,male,married,primary,15000,good,3,unemployed,"berries,root vegetables,whole milk,butter,roll..."
9996,9997,73,male,divorced,tertiary,30000,good,1,retired,"meat,other vegetables,whole milk,beverages,rol..."
9997,9998,38,male,married,primary,46000,fair,4,blue-collar,soda
9998,9999,44,female,married,secondary,23000,poor,4,housemaid,"sausage,citrus fruit,tropical fruit,pip fruit,..."
9999,10000,59,male,married,tertiary,21000,good,2,self-employed,"soft cheese,cream cheese,rolls/buns,soda,speci..."