In [3]:
# importing pandas package 
import pandas as pd 
import numpy as np
import heapq
from collections import Counter
from sklearn.metrics.pairwise import cosine_similarity
from sklearn import datasets, model_selection
from sklearn.metrics import classification_report

In [22]:
# making data frame from csv file 
gros_data = pd.read_csv("groceries.csv",sep=";") 
gros_data.head(60)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"whole milk,butter,yogurt,rice,abrasive cleaner"
6,7,23,female,married,tertiary,21000,good,3,housemaid,rolls/buns
7,8,26,female,single,secondary,30000,good,2,blue-collar,"other vegetables,UHT-milk,rolls/buns,bottled b..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,potted plants
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"whole milk,cereals"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"tropical fruit,other vegetables,white bread,bo..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"citrus fruit,tropical fruit,whole milk,butter,..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,beef
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"frankfurter,rolls/buns,soda"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"chicken,tropical fruit"
15,16,,female,married,tertiary,25000,excellent,4,entrepreneur,"butter,sugar,fruit/vegetable juice,newspapers"
16,17,68,female,married,secondary,,excellent,3,retired,fruit/vegetable juice
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,packaged fruit/vegetables
18,19,33,male,single,primary,18000,very_good,1,blue-collar,chocolate
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,specialty bar
20,21,79,female,single,primary,39000,good,1,retired,other vegetables
21,22,54,male,married,tertiary,34000,very_good,4,management,"butter milk,pastry"
22,23,51,male,single,primary,41000,good,1,entrepreneur,whole milk
23,24,60,male,single,tertiary,30000,fair,1,management,"tropical fruit,cream cheese,processed cheese,d..."
24,25,69,male,married,secondary,34000,excellent,2,retired,"tropical fruit,root vegetables,other vegetable..."
25,26,47,male,single,secondary,40000,good,1,entrepreneur,"bottled water,canned beer"
26,27,,female,married,primary,10000,excellent,3,housemaid,yogurt
27,28,43,male,single,tertiary,,poor,1,self-employed,"sausage,rolls/buns,soda,chocolate"
28,29,46,male,married,primary,33000,good,3,unemployed,other vegetables
29,30,28,female,married,secondary,25000,good,3,management,"brown bread,soda,fruit/vegetable juice,canned ..."
30,31,24,male,married,primary,35000,poor,4,services,"yogurt,beverages,bottled water,specialty bar"
31,32,65,male,divorced,primary,33000,excellent,1,retired,"hamburger meat,other vegetables,rolls/buns,spi..."
32,33,81,female,married,tertiary,8000,good,2,retired,"root vegetables,other vegetables,whole milk,be..."
33,34,26,male,married,tertiary,18000,very_good,5,entrepreneur,"pork,berries,other vegetables,whole milk,whipp..."
34,35,82,female,single,secondary,29000,good,1,unknown,"beef,grapes,detergent"
35,36,32,male,married,tertiary,26000,fair,4,blue-collar,"pastry,soda"
36,37,38,female,married,tertiary,,very_good,3,unemployed,fruit/vegetable juice
37,38,53,female,married,primary,25000,fair,4,housemaid,canned beer
38,39,44,male,divorced,tertiary,37000,fair,1,self-employed,"root vegetables,other vegetables,whole milk,de..."
39,40,49,male,married,primary,36000,very_good,4,management,"citrus fruit,zwieback,newspapers"
40,41,48,female,married,primary,13000,good,2,entrepreneur,"sausage,rolls/buns,soda,canned beer,specialty ..."
41,42,27,female,single,secondary,23000,good,1,blue-collar,"tropical fruit,root vegetables,whole milk,yogu..."
42,43,55,male,married,primary,18000,very_good,3,self-employed,"berries,yogurt"
43,44,35,female,married,tertiary,40000,good,3,housemaid,canned beer
44,45,75,female,married,tertiary,30000,poor,4,retired,"butter milk,yogurt,cream cheese,spread cheese,..."
45,46,44,male,married,secondary,37000,very_good,4,self-employed,coffee
46,47,63,male,married,tertiary,26000,good,3,entrepreneur,"pastry,bottled water"
47,48,80,male,divorced,tertiary,34000,excellent,1,retired,rolls/buns
48,49,55,male,divorced,tertiary,27000,good,1,blue-collar,misc. beverages
49,50,41,male,divorced,tertiary,30000,fair,2,services,"root vegetables,other vegetables,butter,curd,w..."
50,51,23,female,single,secondary,22000,very_good,1,management,"sausage,rolls/buns,cat food,newspapers"
51,52,78,female,married,tertiary,26000,poor,3,retired,canned beer
52,53,37,female,married,primary,34000,good,4,housemaid,"ham,grapes,other vegetables,whole milk"
53,54,21,female,single,tertiary,30000,fair,2,housemaid,"turkey,tropical fruit,other vegetables,curd,do..."
54,55,36,male,married,secondary,30000,poor,3,entrepreneur,"whole milk,yogurt,processed cheese,pickled veg..."
55,56,71,female,divorced,primary,32000,very_good,1,retired,"whole milk,curd,yogurt,pastry"
56,57,85,male,divorced,secondary,38000,poor,1,retired,"packaged fruit/vegetables,brown bread,canned beer"
57,58,34,female,married,primary,17000,fair,2,housemaid,"rolls/buns,oil,bottled water,chewing gum,choco..."
58,59,30,female,married,secondary,32000,very_good,3,housemaid,"ham,beef,whipped/sour cream,ice cream,rolls/bu..."
59,60,32,male,married,primary,19000,good,3,self-employed,"rolls/buns,pastry,sugar"

In [25]:
gros_data = gros_data.replace(r'^\s*$', np.nan, regex=True)
gros_data.fillna(method='ffill', inplace=True)
gros_data.head(20)

int(gros_data.mean())

Customer_ID             5000.5000
Age                           inf
Income                        inf
Persons_in_Household       2.3909
dtype: float64