# Big Data Mining, 1st Assignment solution
## Vangelis Christou, p2821805

In [43]:
#read
import pandas as pd 
df = pd.read_csv("groceries.csv",sep=";") 

#preview data
df.head(20)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"whole milk,butter,yogurt,rice,abrasive cleaner"
6,7,23,female,married,tertiary,21000,good,3,housemaid,rolls/buns
7,8,26,female,single,secondary,30000,good,2,blue-collar,"other vegetables,UHT-milk,rolls/buns,bottled b..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,potted plants
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"whole milk,cereals"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"tropical fruit,other vegetables,white bread,bo..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"citrus fruit,tropical fruit,whole milk,butter,..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,beef
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"frankfurter,rolls/buns,soda"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"chicken,tropical fruit"
15,16,,female,married,tertiary,25000,excellent,4,entrepreneur,"butter,sugar,fruit/vegetable juice,newspapers"
16,17,68,female,married,secondary,,excellent,3,retired,fruit/vegetable juice
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,packaged fruit/vegetables
18,19,33,male,single,primary,18000,very_good,1,blue-collar,chocolate
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,specialty bar

In [44]:
#view default  data types
df.dtypes

Customer_ID              int64
Age                     object
Sex                     object
Marital_Status          object
Education               object
Income                  object
Customer_Rating         object
Persons_in_Household     int64
Occupation              object
Groceries               object
dtype: object

In [45]:
import numpy as np
#replace ' ' values with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

#set proper data types
#numeric
df["Age"] = pd.to_numeric(df["Age"],downcast='integer')
df["Income"] = pd.to_numeric(df["Income"],downcast='integer')
df["Persons_in_Household"] = pd.to_numeric(df["Persons_in_Household"])

#nominal
df["Sex"] = df["Sex"].astype('category')
df["Marital_Status"] = df["Marital_Status"].astype('category')
df["Occupation"] = df["Occupation"].astype('category')

#ordinal
#for the ordinal columns we will replace with an enumeration to calculate similarity as numeric

cRatings = df["Customer_Rating"] = pd.Categorical(df["Customer_Rating"], categories=["poor", "fair", "good", "very_good", "excellent"], ordered=True)

cRatings = cRatings.replace("poor",1).replace("fair",2).replace("very_good",4).replace("good",3).replace("excellent",5)
df["Customer_Rating_enum"] = cRatings.astype(np.int)


cEducation = df["Education"] = pd.Categorical(df["Education"], categories=["primary", "secondary", "tertiary"], ordered=True)
cEducation = cEducation.replace("primary",0).replace("secondary",1).replace("tertiary",2)
df["Education_enum"] = cEducation.astype(np.int)



#fill Nan values with mean
df.fillna(df.mean().astype(int), inplace=True)
df["Age"] = df["Age"].astype(np.int) 
df["Income"] = df["Income"].astype(np.int) 

# convert Groceries to set of values
df.Groceries= df.Groceries.str.split(",") 

df.dtypes

Customer_ID                int64
Age                        int32
Sex                     category
Marital_Status          category
Education               category
Income                     int32
Customer_Rating         category
Persons_in_Household       int64
Occupation              category
Groceries                 object
Customer_Rating_enum       int32
Education_enum             int32
dtype: object

In [46]:

df.head(15)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries,Customer_Rating_enum,Education_enum
0,1,75,male,married,primary,20000,very_good,3,retired,"[citrus fruit, semi-finished bread, margarine,...",4,0
1,2,61,female,single,secondary,28000,good,1,housemaid,"[tropical fruit, yogurt, coffee]",3,1
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,[whole milk],4,1
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"[pip fruit, yogurt, cream cheese, meat spreads]",4,0
4,5,66,female,married,secondary,19000,good,3,retired,"[other vegetables, whole milk, condensed milk,...",3,1
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"[whole milk, butter, yogurt, rice, abrasive cl...",4,1
6,7,23,female,married,tertiary,21000,good,3,housemaid,[rolls/buns],3,2
7,8,26,female,single,secondary,30000,good,2,blue-collar,"[other vegetables, UHT-milk, rolls/buns, bottl...",3,1
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,[potted plants],4,1
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"[whole milk, cereals]",3,1
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"[tropical fruit, other vegetables, white bread...",4,2
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"[citrus fruit, tropical fruit, whole milk, but...",2,2
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,[beef],2,2
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"[frankfurter, rolls/buns, soda]",2,0
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"[chicken, tropical fruit]",5,2

In [47]:
import itertools
import time

def jaccard_sim(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return round(float(intersection) / union, 2)

def numeric_sim(num1, num2, maxvalue,minvalue):
    return 1- abs(num1-num2) / (maxvalue - minvalue)

def nominal_sim(nom1,nom2):
    return int(nom1 == nom2)


   

def pairwiseJaccard(cust):
    sim={}
    print("Computing Jaccard similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Jaccard Success after: " ,end_time-start_time)
    return sim

def pairwiseNominal(cust):
    sim={}
    print("Computing Nominal similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=nominal_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Nominal Success after: " ,end_time-start_time)
    return sim

def pairwiseNumeric(cust, maxvalue,minvalue):
    sim={}
    print("Computing numeric similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=numeric_sim(cust[pair[0]],cust[pair[1]],maxvalue,minvalue)
        #print(cust[pair[0]],cust[pair[1]],maxvalue,minvalue,"=", s,"\n")
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Numeric Success after: " ,end_time-start_time)
    return sim

In [48]:
#numeric
age_d = dict(zip(df.Customer_ID, df.Age))
persons_d = dict(zip(df.Customer_ID, df.Persons_in_Household))
income_d = dict(zip(df.Customer_ID, df.Income))

#nominal
sex_d = dict(zip(df.Customer_ID, df.Sex))
occupation_d = dict(zip(df.Customer_ID, df.Occupation))
marital_d = dict(zip(df.Customer_ID, df.Marital_Status))

#ordinal
customer_rating_d = dict(zip(df.Customer_ID, df.Customer_Rating_enum))
education_enum_d = dict(zip(df.Customer_ID, df.Education_enum))

#set
groceries_d = dict(zip(df.Customer_ID, df.Groceries))


#helper test dictionaries
#short_groceries_d = dict(list(groceries_d.items())[0:1000])
#short_sex_d = dict(list(sex_d.items())[0:1000])
#short_cust_rating = dict(list(customer_rating_d.items())[0:1000])
#numeric
dsize = 5000
age_d = dict(list(age_d.items())[0:dsize])
persons_d = dict(list(persons_d.items())[0:dsize])
income_d = dict(list(income_d.items())[0:dsize])

sex_d = dict(list(sex_d.items())[0:dsize])
occupation_d = dict(list(occupation_d.items())[0:dsize])
marital_d = dict(list(marital_d.items())[0:dsize])
customer_rating_d = dict(list(customer_rating_d.items())[0:dsize])
education_enum_d = dict(list(education_enum_d.items())[0:dsize])
groceries_d = dict(list(groceries_d.items())[0:dsize])

In [53]:
full_age_d = dict(zip(df.Customer_ID, df.Age))
fullsimAge = pairwiseNumeric(full_age_d, df.Age.max(),df.Age.min())
len(fullsimAge)

Computing numeric similarities
Numeric Success after:  39.79150700569153

49995000

In [49]:
###Calculate Similarities

#numeric
simAge = pairwiseNumeric(age_d, df.Age.max(),df.Age.min())
simHouseholdPersons = pairwiseNumeric(persons_d,df.Persons_in_Household.max(),df.Persons_in_Household.min())
simIncome = pairwiseNumeric(income_d,df.Income.max(),df.Income.min())

#nominal
simSex = pairwiseNominal(sex_d)
simOccupation = pairwiseNominal(occupation_d)
simMaritalStatus = pairwiseNominal(marital_d)


#ordinal
simCustomerRating = pairwiseNumeric(customer_rating_d,df.Customer_Rating_enum.max(), df.Customer_Rating_enum.min())
simEducation = pairwiseNumeric(education_enum_d,df.Education_enum.max(), df.Education_enum.min())

#set
simGroceries = pairwiseJaccard(groceries_d)

Computing numeric similarities
Numeric Success after:  9.347217798233032
Computing numeric similarities
Numeric Success after:  8.118677377700806
Computing numeric similarities
Numeric Success after:  8.705960273742676
Computing Nominal similarities
Nominal Success after:  9.411413192749023
Computing Nominal similarities
Nominal Success after:  7.9510087966918945
Computing Nominal similarities
Nominal Success after:  9.444453239440918
Computing numeric similarities
Numeric Success after:  8.61483097076416
Computing numeric similarities
Numeric Success after:  8.777297258377075
Computing Jaccard similarities
Jaccard Success after:  24.39653706550598

In [50]:
def GetDictionaryWithAvgSimilarity(listSim):
    d0=listSim[0]
    i=1;
    while i < len(listSim) :
        for k, value in d0.items():
            d0[k] = round(float((d0[k] + listSim[i][k]) / 2),2)

        i+=1
    return d0

SimilarityList = [simAge,simHouseholdPersons,simIncome, simMaritalStatus, simGroceries, simSex,simOccupation, simCustomerRating, simEducation]
avgSim =  GetDictionaryWithAvgSimilarity(SimilarityList)

In [51]:
dict(list(simAge.items())[0:10])

{(1, 2): 0.45,
 (1, 3): 0.57,
 (1, 4): 0.84,
 (1, 5): 0.59,
 (1, 6): 0.51,
 (1, 7): 0.21,
 (1, 8): 0.45,
 (1, 9): 0.53,
 (1, 10): 0.46,
 (1, 11): 0.28}

In [52]:
import operator

def GetSimilarCustomers(customerID,head,sim):
    filtered_dict = {k:v for (k,v) in sim.items() if customerID in k}
    sorted_d = dict(sorted(filtered_dict.items(), key=operator.itemgetter(1),reverse=True))
    return dict(list(sorted_d.items())[0:head])



customerids = [73, 563, 1603, 2200,3703, 4263, 5300, 6129, 7800, 8555]
kn=10
for i in customerids: 
    print("Top ",kn, " nearest customers to CustomerID:",i, " ")
    simC = GetSimilarCustomers(i,kn,avgSim)
    for k,v in simC.items():
        if k[0] != i:
            print(k[0]," with similarity score:",v)
        else:
            print(k[1]," with similarity score:",v)

    print("\n")


#73, 563, 1603, 2200, 3703, 4263, 5300, 6129, 7800, 8555

Top  10  nearest customers to CustomerID: 73
1203  with similarity score: 0.97
1291  with similarity score: 0.97
1846  with similarity score: 0.97
3623  with similarity score: 0.97
66  with similarity score: 0.96
143  with similarity score: 0.96
347  with similarity score: 0.96
468  with similarity score: 0.96
797  with similarity score: 0.96
872  with similarity score: 0.96


Top  10  nearest customers to CustomerID: 563
3634  with similarity score: 0.99
4290  with similarity score: 0.98
7  with similarity score: 0.97
44  with similarity score: 0.97
351  with similarity score: 0.97
419  with similarity score: 0.97
421  with similarity score: 0.97
426  with similarity score: 0.97
559  with similarity score: 0.97
866  with similarity score: 0.97


Top  10  nearest customers to CustomerID: 1603
109  with similarity score: 0.97
168  with similarity score: 0.97
568  with similarity score: 0.97
4628  with similarity score: 0.97
412  with similarity score: 0.96
1708  with similarity score: 0.96
3286  with similarity score: 0.96
4759  with similarity score: 0.96
651  with similarity score: 0.95
2175  with similarity score: 0.95


Top  10  nearest customers to CustomerID: 2200
203  with similarity score: 0.96
176  with similarity score: 0.95
838  with similarity score: 0.95
2231  with similarity score: 0.95
2465  with similarity score: 0.95
2562  with similarity score: 0.95
4521  with similarity score: 0.95
4701  with similarity score: 0.95
4903  with similarity score: 0.95
2375  with similarity score: 0.92


Top  10  nearest customers to CustomerID: 3703
1505  with similarity score: 0.97
1604  with similarity score: 0.97
1837  with similarity score: 0.97
3352  with similarity score: 0.97
3410  with similarity score: 0.97
3990  with similarity score: 0.97
4046  with similarity score: 0.97
4373  with similarity score: 0.97
4838  with similarity score: 0.97
448  with similarity score: 0.96


Top  10  nearest customers to CustomerID: 4263
3434  with similarity score: 0.97
1693  with similarity score: 0.96
2733  with similarity score: 0.96
1415  with similarity score: 0.95
231  with similarity score: 0.91
1169  with similarity score: 0.91
1896  with similarity score: 0.91
2195  with similarity score: 0.91
3822  with similarity score: 0.91
4763  with similarity score: 0.91


Top  10  nearest customers to CustomerID: 5300


Top  10  nearest customers to CustomerID: 6129


Top  10  nearest customers to CustomerID: 7800


Top  10  nearest customers to CustomerID: 8555