# Big Data Mining, 1st Assignment solution
## Vangelis Christou, p2821805

In [10]:
#read
import pandas as pd 
df = pd.read_csv("groceries.csv",sep=";") 

#preview data
df.head(20)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"whole milk,butter,yogurt,rice,abrasive cleaner"
6,7,23,female,married,tertiary,21000,good,3,housemaid,rolls/buns
7,8,26,female,single,secondary,30000,good,2,blue-collar,"other vegetables,UHT-milk,rolls/buns,bottled b..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,potted plants
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"whole milk,cereals"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"tropical fruit,other vegetables,white bread,bo..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"citrus fruit,tropical fruit,whole milk,butter,..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,beef
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"frankfurter,rolls/buns,soda"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"chicken,tropical fruit"
15,16,,female,married,tertiary,25000,excellent,4,entrepreneur,"butter,sugar,fruit/vegetable juice,newspapers"
16,17,68,female,married,secondary,,excellent,3,retired,fruit/vegetable juice
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,packaged fruit/vegetables
18,19,33,male,single,primary,18000,very_good,1,blue-collar,chocolate
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,specialty bar

In [11]:
#view default  data types
df.dtypes

Customer_ID              int64
Age                     object
Sex                     object
Marital_Status          object
Education               object
Income                  object
Customer_Rating         object
Persons_in_Household     int64
Occupation              object
Groceries               object
dtype: object

In [12]:
#replace ' ' values with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

#set proper data types
#numeric
df["Age"] = pd.to_numeric(df["Age"],downcast='integer')
df["Income"] = pd.to_numeric(df["Income"],downcast='integer')
df["Persons_in_Household"] = pd.to_numeric(df["Persons_in_Household"])

#nominal
df["Sex"] = df["Sex"].astype('category')
df["Marital_Status"] = df["Marital_Status"].astype('category')
df["Occupation"] = df["Occupation"].astype('category')

#ordinal
cRatings = pd.Categorical(df["Customer_Rating"], categories=["poor", "fair", "good", "very_good", "excellent"], ordered=True)
df.Customer_Rating = cRatings
cEducation = pd.Categorical(df["Education"], categories=["primary", "secondary", "tertiary"], ordered=True)
df.Education = cEducation



#fill Nan values with mean
df.fillna(df.mean().astype(int), inplace=True)
df["Age"] = df["Age"].astype(np.int64) 
df["Income"] = df["Income"].astype(np.int64) 

# convert Groceries to set of values
df.Groceries= df.Groceries.str.split(",") 

df.dtypes

NameError: name 'np' is not defined

In [13]:

df.head(20)

,Customer_ID,Age,Sex,Marital_Status,Education,Income,Customer_Rating,Persons_in_Household,Occupation,Groceries
0,1,75,male,married,primary,20000,very_good,3,retired,"citrus fruit,semi-finished bread,margarine,rea..."
1,2,61,female,single,secondary,28000,good,1,housemaid,"tropical fruit,yogurt,coffee"
2,3,32,male,single,secondary,34000,very_good,1,blue-collar,whole milk
3,4,62,male,married,primary,31000,very_good,3,blue-collar,"pip fruit,yogurt,cream cheese,meat spreads"
4,5,66,female,married,secondary,19000,good,3,retired,"other vegetables,whole milk,condensed milk,lon..."
5,6,55,female,single,secondary,35000,very_good,1,unemployed,"whole milk,butter,yogurt,rice,abrasive cleaner"
6,7,23,female,married,tertiary,21000,good,3,housemaid,rolls/buns
7,8,26,female,single,secondary,30000,good,2,blue-collar,"other vegetables,UHT-milk,rolls/buns,bottled b..."
8,9,29,female,married,secondary,32000,very_good,3,blue-collar,potted plants
9,10,57,female,married,secondary,26000,good,3,entrepreneur,"whole milk,cereals"
10,11,55,female,married,tertiary,30000,very_good,2,entrepreneur,"tropical fruit,other vegetables,white bread,bo..."
11,12,57,female,married,tertiary,14000,fair,3,blue-collar,"citrus fruit,tropical fruit,whole milk,butter,..."
12,13,28,male,divorced,tertiary,30000,fair,1,self-employed,beef
13,14,40,male,married,primary,13000,fair,3,entrepreneur,"frankfurter,rolls/buns,soda"
14,15,53,female,divorced,tertiary,9000,excellent,1,entrepreneur,"chicken,tropical fruit"
15,16,,female,married,tertiary,25000,excellent,4,entrepreneur,"butter,sugar,fruit/vegetable juice,newspapers"
16,17,68,female,married,secondary,,excellent,3,retired,fruit/vegetable juice
17,18,32,male,married,primary,16000,very_good,3,entrepreneur,packaged fruit/vegetables
18,19,33,male,single,primary,18000,very_good,1,blue-collar,chocolate
19,20,23,male,married,tertiary,23000,good,3,entrepreneur,specialty bar

In [14]:
import itertools
import time
def jaccard_sim(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return round(float(intersection) / union, 2)

def numeric_sim(num1, num2, maxvalue,minvalue):
    return round(abs(num1-num2) /maxvalue-minvalue, 2)

def nominal_sim(nom1,nom2)
    return nom1 == nom2


def pairwiseJaccard(cust):
    sim={}
    print("Computing Jaccard pair wise similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Jaccard Success after: " ,end_time-start_time)
    return sim

def pairwiseNominal(cust):
    sim={}
    print("Computing pair wise similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Jaccard Success after: " ,end_time-start_time)
    return sim

def pairwiseOrdinal(cust):
    sim={}
    print("Computing pair wise similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Jaccard Success after: " ,end_time-start_time)
    return sim


def pairwiseNumeric(cust, maxvalue,minvalue):
    sim={}
    print("Computing pair wise similarities")
    start_time = time.time()
    for pair in itertools.combinations(cust, r=2):
        s=jaccard_sim(cust[pair[0]],cust[pair[1]])
        sim[tuple([pair[0],pair[1]])]=s
    
    end_time = time.time()
    print("Jaccard Success after: " ,end_time-start_time)
    return sim

In [15]:
groceries_d = dict(zip(df.Customer_ID, df.Groceries))

short_groceries_d = dict(list(cust_dict.items())[0:10])

In [16]:
simGroceries = pairwiseJaccard(short_groceries_d)
simGroceries = pairwiseJaccard(cust_dict)

Computing pair wise similarities
Success after:  428.4704306125641

In [17]:
import operator

def GetSimilarCustomers(customerID,head, sim):
    filtered_dict = {k:v for (k,v) in sim.items() if k[0] == customerID}
    sorted_d = dict(sorted(filtered_dict.items(), key=operator.itemgetter(1),reverse=True))
    return dict(list(sorted_d.items())[0:head])

In [18]:
customerids = [73, 563, 1603, 2200, 3703, 4263, 5300, 6129, 7800, 8555]
for i in customerids: 
    print(GetSimilarCustomers(i,10,sim))
    print("----\n")

{(73, 5745): 0.19, (73, 162): 0.18, (73, 168): 0.18, (73, 604): 0.18, (73, 943): 0.18, (73, 1471): 0.18, (73, 2875): 0.18, (73, 3257): 0.18, (73, 4777): 0.18, (73, 5259): 0.18}
----

{(563, 652): 0.82, (563, 768): 0.82, (563, 1010): 0.82, (563, 1236): 0.82, (563, 1562): 0.82, (563, 1629): 0.82, (563, 1652): 0.82, (563, 1787): 0.82, (563, 1819): 0.82, (563, 1830): 0.82}
----

{(1603, 6379): 0.39, (1603, 7149): 0.39, (1603, 1628): 0.38, (1603, 2736): 0.38, (1603, 3379): 0.38, (1603, 6101): 0.38, (1603, 6185): 0.38, (1603, 3635): 0.37, (1603, 8156): 0.37, (1603, 3753): 0.36}
----

{(2200, 6222): 0.71, (2200, 2367): 0.56, (2200, 9530): 0.56, (2200, 2711): 0.55, (2200, 3432): 0.55, (2200, 4426): 0.55, (2200, 5213): 0.55, (2200, 2401): 0.53, (2200, 2714): 0.53, (2200, 2769): 0.53}
----

{(3703, 5286): 0.21, (3703, 6434): 0.21, (3703, 4904): 0.2, (3703, 5558): 0.2, (3703, 6599): 0.2, (3703, 8163): 0.2, (3703, 3714): 0.19, (3703, 3761): 0.19, (3703, 3893): 0.19, (3703, 4132): 0.19}
----

{(4263, 5286): 0.24, (4263, 5433): 0.24, (4263, 6101): 0.24, (4263, 6185): 0.24, (4263, 6434): 0.24, (4263, 4466): 0.23, (4263, 5043): 0.23, (4263, 8156): 0.23, (4263, 9426): 0.23, (4263, 5258): 0.22}
----

{(5300, 6434): 0.17, (5300, 7456): 0.17, (5300, 8182): 0.17, (5300, 9426): 0.17, (5300, 5436): 0.16, (5300, 5558): 0.16, (5300, 5589): 0.16, (5300, 5832): 0.16, (5300, 6018): 0.16, (5300, 6133): 0.16}
----

{(6129, 6873): 0.38, (6129, 7149): 0.38, (6129, 7256): 0.38, (6129, 9635): 0.38, (6129, 7991): 0.37, (6129, 6364): 0.36, (6129, 6627): 0.36, (6129, 7586): 0.36, (6129, 7693): 0.36, (6129, 9205): 0.36}
----

{(7800, 7802): 0.67, (7800, 7831): 0.67, (7800, 7917): 0.67, (7800, 7969): 0.67, (7800, 8113): 0.67, (7800, 8172): 0.67, (7800, 8218): 0.67, (7800, 8269): 0.67, (7800, 8363): 0.67, (7800, 8393): 0.67}
----

{(8555, 9775): 0.43, (8555, 9122): 0.38, (8555, 8810): 0.37, (8555, 8690): 0.34, (8555, 8841): 0.34, (8555, 9149): 0.34, (8555, 8767): 0.33, (8555, 8772): 0.33, (8555, 8929): 0.33, (8555, 9006): 0.33}
----